h2 {
border: 1px solid black;
border-collapse: collapse;
background-color: rgb(132, 47, 230);
color: blue;
}

li {
color: darkred;
border: 2px solid black;
border-collapse: collapse;
}

table.well {
border: 1px solid black;
border-collapse: collapse;
background-color: cornflowerblue;
}

table.well {
border: 1px solid black;
border-collapse: collapse;
background-color: cornflowerblue;
}